{{ $lineColor := .Color | default "" }}
{{ $class := .Class | default "line-bg absolute z-20" }}
<div class="{{ $class }}">
  <div class="container flex justify-between">
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
    <span
      class="{{ $lineColor }} inline-block h-full opacity-50 md:opacity-100"></span>
  </div>
</div>
