{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.BaseURL }}


<ul class="breadcrumb" data-aos="fade-up-sm" data-aos-delay="50">
  <li class="breadcrumb-list-item">
    <a class="text-primary" href="{{ $base | relLangURL }}">
      {{ i18n "home" | default "Home" }}
    </a>
  </li>
  {{ range $i, $e:= $context.Ancestors.Reverse }}
    {{ if ne .Title "Pages" }}
      <li class="breadcrumb-list-item">
        <a class="text-primary" href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
        <span class="inlin-block mr-1">/</span>
      </li>
    {{ end }}
  {{ end }}
  <li class="breadcrumb-list-item">
    <span class="text-primary">
      {{ $context.Title }}
    </span>
  </li>
</ul>
