{{ define "main" }}
  {{ partial "page-header.html" . }}

  {{ with .Params.pricing_plan }}
    <section class="section relative z-20 mt-[-26rem] overflow-hidden">
      <div class="container relative">
        <div class="row g-5">
          <div class="lg:col-10 xl:col-8 xl:order-0 relative order-2">
            <div
              class="shadow-default flex flex-col flex-wrap justify-between rounded-xl bg-white px-8 py-12 md:flex-row xl:px-14">
              {{ range $index, $e := .plans }}
                <div data-aos="fade-up-sm" class="px-0 py-3 sm:px-2">
                  {{ if .price_tag }}
                    <div class="mb-6 flex items-center gap-4">
                      {{ partial "image.html" (dict "Src" .price_icon "Class" "rounded-md" "Alt" "icon") }}
                      <span
                        class="rounded-[4px] bg-black px-4 py-[3px] align-middle text-sm font-medium capitalize text-white">
                        {{ .price_tag }}
                      </span>
                    </div>
                  {{ else }}
                    {{ partial "image.html" (dict "Src" .price_icon "Class" "mb-6 rounded-md" "Alt" "icon") }}
                  {{ end }}
                  <h2 class="text-dark mb-3 text-xl font-bold sm:text-2xl">
                    {{ .title | markdownify }}
                  </h2>
                  <p class="text-dark mb-6">{{ .subtitle | markdownify }}</p>
                  <div
                    class="border-b-border w-fit border-b border-opacity-70 pb-6">
                    <span
                      class="text-dark text-3xl font-semibold md:text-4xl lg:text-5xl">
                      {{ .price }}
                    </span>
                    <span class="text-dark text-lg font-semibold"
                      >/{{ .price_type }}</span
                    >
                  </div>
                  <ul class="pricing-details">
                    {{ range .description }}
                      <li
                        class="relative mb-5 pl-5 before:absolute before:left-0 before:top-[6px] before:h-[25px] before:w-[25px] before:bg-no-repeat before:content-[''] last-of-type:mb-0">
                        {{ . | markdownify }}
                      </li>
                    {{ end }}
                  </ul>
                  {{ with .button }}
                    <a
                      href="{{ .link | markdownify }}"
                      class="btn {{ if eq (mod $index 2) 1 }}
                        btn-primary
                      {{ else }}
                        btn-outline-primary
                      {{ end }} btn-icon">
                      {{ .label | markdownify }}
                      <i class="fa-solid fa-chevron-right pl-4"></i>
                    </a>
                  {{ end }}
                </div>
              {{ end }}
            </div>
            <!-- Start Bg Shape -->
            <div
              data-aos="fade-right-sm"
              class="pointer-events-none absolute left-[-6%] top-[-6%] -z-10 hidden select-none xl:block">
              {{ partial "image.html" (dict "Src" "images/shapes/pricing-s-1.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
            </div>
            <div
              data-aos="fade-left-sm"
              class="pointer-events-none absolute bottom-[-12%] right-[-2%] -z-10 hidden select-none xl:block">
              {{ partial "image.html" (dict "Src" "images/shapes/pricing-s-2.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
            </div>
            <!-- End Bg Shape -->
          </div>
          <div class="lg:col-12 xl:col-4">
            <span
              class="mb-6 inline-block font-medium uppercase text-red-400"
              data-aos="fade-up-sm">
              {{ .subtitle | markdownify }}
            </span>
            <div
              class="border-dark mb-6 border-l-2 border-opacity-50 py-2 pl-6"
              data-aos="fade-up-sm"
              data-aos-delay="50">
              <h2 class="font-semibold">{{ .title | markdownify }}</h2>
            </div>
            <p
              class="mb-8 pl-6 text-lg"
              data-aos="fade-up-sm"
              data-aos-delay="100">
              {{ .description | markdownify }}
            </p>
            {{ with .button }}
              <span data-aos="fade-up-sm" data-aos-delay="150">
                <a
                  href="{{ .link | relLangURL }}"
                  class="btn btn-outline-primary btn-icon ml-6 max-w-[250px] md:max-w-[300px]">
                  {{ .label | markdownify }}
                  <i class="fa-solid fa-chevron-right pl-4"></i>
                </a>
              </span>
            {{ end }}
          </div>
        </div>
      </div>
      <!-- End Main Content -->
    </section>
    <!-- End Pricing Section -->
  {{ end }}

  {{ with .Params.faq }}
    <section class="section-md faq relative z-20 after:-z-10">
      <div class="container relative z-30">
        <div class="row gy-4 justify-between">
          <div class="lg:col-5">
            <span
              class="mb-6 inline-block font-medium uppercase text-red-400"
              data-aos="fade-up-sm">
              {{ .subtitle | markdownify }}
            </span>
            <div
              class="border-dark mb-6 border-l-2 border-opacity-50 py-2 pl-6"
              data-aos="fade-up-sm"
              data-aos-delay="50">
              <h2 class="font-semibold">{{ .title | markdownify }}</h2>
            </div>
            <p
              class="pl-6 sm:text-lg"
              data-aos="fade-up-sm"
              data-aos-delay="100">
              {{ .description | markdownify }}
            </p>
          </div>
          <div class="lg:col-6">
            {{ range .list }}
              <div data-aos="fade-up-sm" class="accordion">
                <button
                  type="button"
                  class="accordion-header w-full text-xl font-medium"
                  data-accordion>
                  {{ .title | markdownify }}
                  <svg
                    class="accordion-icon"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512 512"
                    xmlspace="preserve">
                    <path
                      fill="currentColor"
                      d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <p>
                    {{ .description | markdownify }}
                  </p>
                </div>
              </div>
            {{ end }}
          </div>
        </div>
      </div>

      {{ partial "components/bg-lines.html" (dict "Color" "bg-line-sky") }}
      <!-- End background lines -->
    </section>
    <!-- End Faq Section -->
  {{ end }}
{{ end }}
