{{ define "main" }}
  {{ partial "page-header.html" . }}
  <section class="section-md relative z-20 mt-[-28rem] md:mt-[-32rem]">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            data-aos="fade-up-sm"
            data-aos-delay="100"
            class="shadow-default rounded-2xl bg-white px-8 py-8 sm:px-14 sm:py-14 lg:px-20 lg:py-16">
            <div class="content prose">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->
  </section>
  <!-- End Terms & Conditions -->
{{ end }}
