{{ range first 4 (site.GetPage "career").Pages }}
  <div data-aos="fade-up-sm" class="md:col-8 lg:col-6 xl:col-5">
    <div
      class="shadow-default relative h-full rounded-2xl bg-white p-8 transition-all duration-300 hover:-translate-y-1 sm:p-12">
      <h3 class="text-dark mb-6 text-xl font-semibold sm:text-2xl">
        {{ .Params.title | markdownify }}
      </h3>
      <p class="text-zinc-500 text-opacity-70">
        {{ .Content | truncate 100 }}
      </p>
      <div class="mt-6 flex flex-wrap items-end justify-between gap-y-4">
        <ul
          class="text-dark mr-4 inline-flex flex-wrap gap-x-4 gap-y-2 font-medium">
          <li>
            <i class="fa-regular fa-clock mr-2"></i>
            {{ .Params.job_type | markdownify }}
          </li>
          <li>
            <i class="fa-solid fa-location-crosshairs mr-2"></i>
            {{ .Params.location | markdownify }}
          </li>
        </ul>
        <a
          href="{{ .RelPermalink }}"
          class="group text-lg font-semibold text-red-400 after:absolute after:inset-0">
          {{ i18n "read_more" }}
          <i
            class="fa-solid fa-arrow-right ml-2 transition-transform duration-300 group-hover:translate-x-1"></i>
          <span class="sr-only">details</span>
        </a>
      </div>
    </div>
  </div>
{{ end }}
