{{ with site.GetPage "sections/testimonial" }}
  {{ with .Params.testimonial }}
    {{ if .enable }}
      <section class="section relative z-20 overflow-hidden">
        <div class="container relative">
          <div class="colored-box-bg lg:columns-2">
            <div class="mb-16">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400"
                data-aos="fade-up-sm">
                {{ .subtitle | markdownify }}
              </span>
              <div
                data-aos="fade-up-sm"
                class="border-dark border-l-2 border-opacity-50 py-2 pl-6">
                <h2 class="font-semibold" data-aos-delay="50">
                  {{ .title | markdownify }}
                </h2>
              </div>
            </div>
            <!-- End Section Title -->

            {{ range .items }}
              <div class="mb-6">
                <div
                  data-aos="fade-up-sm"
                  class="shadow-default border-border/50 mb-6 flex flex-col overflow-hidden rounded-xl border bg-white !transition-all !duration-300 last-of-type:mb-0 hover:shadow-sm sm:flex-row sm:border-0">
                  <div class="box-bg">
                    {{ partial "image.html" (dict "Src" .customer.logo "Class" `!max-w-[140px] sm:min-w-[40px] sm:-rotate-90 sm:transform` "Alt" "logo") }}
                  </div>
                  <div class="px-6 py-12">
                    <h3 class="mb-5 text-xl font-semibold sm:text-2xl">
                      {{ .title | markdownify }}
                    </h3>
                    <p class="mb-6 sm:text-lg">
                      {{ .description | markdownify }}
                    </p>
                    {{ with .customer }}
                      <div class="flex items-center gap-4">
                        {{ partial "image.html" (dict "Src" .image "Class" `h-[70px] w-[70px] object-cover` "Alt" "logo") }}
                        <div class="items-start rounded-full">
                          <div class="flex flex-col justify-center">
                            <h4 class="font-primary mb-1 text-lg">
                              {{ .name | markdownify }}
                            </h4>
                            <p>{{ .profession | markdownify }}</p>
                          </div>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                </div>
                <!-- End Stories Item -->
              </div>
            {{ end }}
          </div>

          <!-- Start Bg Shape -->
          <div
            data-aos="fade-right-sm"
            class="pointer-events-none absolute left-[-8%] top-[28%] -z-10 hidden select-none text-[#70ADF9] lg:block">
            {{ partial "image.html" (dict "Src" "images/shapes/testimonial-s-1.svg" "Class" "inline-svg text-quaternary"
              "Alt" "shape")
            }}
          </div>
          <div
            data-aos="fade-up-md"
            class="pointer-events-none absolute right-[-4%] top-[-5%] -z-10 hidden select-none text-[#6FABF6] lg:block">
            {{ partial "image.html" (dict "Src" "images/shapes/testimonial-s-2.svg" "Class" "inline-svg text-dark" "Alt"
              "shape")
            }}
          </div>
          <div
            data-aos="fade-down-sm"
            class="pointer-events-none absolute bottom-[14%] right-[-4%] -z-10 hidden select-none text-[#6FABF6] lg:block">
            {{ partial "image.html" (dict "Src" "images/shapes/testimonial-s-3.svg" "Class" "inline-svg text-secondary"
              "Alt" "shape")
            }}
          </div>
          <!-- End Bg Shape -->
        </div>
      </section>
      <!-- End Customer Stories Section -->
    {{ end }}
  {{ end }}
{{ end }}
