{{ define "main" }}
  {{ partial "page-header.html" . }}
  {{ with .Params.featured_image }}
    <section class="section relative z-20 mt-[-26rem] overflow-hidden pb-0">
      <div class="container relative">
        <div class="row">
          <div class="col-11 mx-auto">
            <div
              data-aos="fade-up-sm"
              class="relative z-10 rounded-[15px] border-[6px] border-white bg-white sm:border-[12px]">
              {{ partial "image.html" (dict "Src" . "Class" "w-full rounded-[15px] object-cover" "Alt" "career") }}
            </div>
          </div>
        </div>
        <!-- Start Shape background -->
        <div
          class="pointer-events-none absolute left-0 top-1/2 -z-10 hidden -translate-y-1/2 select-none md:block lg:left-[-4%]">
          {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
        </div>
        <div
          class="pointer-events-none absolute right-0 top-1/2 -z-10 hidden -translate-y-1/2 scale-75 select-none md:block lg:right-[-5%]">
          {{ partial "image.html" (dict "Src" "images/shapes/about-s-2.svg" "Class" "inline-svg text-quaternary" "Alt" "shape") }}
        </div>
        <!-- End Shape background -->
      </div>
      <!-- End Main Content -->
    </section>
    <!-- End Career Featured Image Section -->
  {{ end }}

  {{ with .Params.benefits }}
    <section class="section relative z-20 overflow-hidden">
      <div class="container">
        <div class="row pb-12 text-center">
          <div class="lg:col-7 mx-auto">
            <span
              class="mb-6 inline-block font-medium uppercase text-red-400"
              data-aos="fade-up-sm">
              {{ .subtitle | markdownify }}
            </span>
            <h2
              class="mb-6 font-semibold"
              data-aos="fade-up-sm"
              data-aos-delay="50">
              {{ .title | markdownify }}
            </h2>
            <p class="text-lg" data-aos="fade-up-sm" data-aos-delay="100">
              {{ .description | markdownify }}
            </p>
          </div>
        </div>
        <div class="colored-box-icon has-colored-text row gy-4">
          {{ range .facilities }}
            <div
              data-aos="fade-up-sm"
              data-aos-delay="50"
              class="md:col-6 lg:col-4">
              <div
                class="shadow-default h-full rounded-2xl bg-white p-8 text-center transition-all duration-300 hover:shadow-md sm:p-12">
                <div class="icon-box mx-auto">
                  <i class="{{ .icon }}"></i>
                </div>
                <h3 class="text-dark mb-6 text-xl font-semibold sm:text-2xl">
                  {{ .title | markdownify }}
                </h3>
                <p class="mb-0">{{ .description | markdownify }}}</p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- End Facility Section -->
  {{ end }}

  {{ with .Params.opened_positions }}
    {{ if .enable }}
      <section class="section-md relative z-30 overflow-hidden pt-0">
        <div class="container relative">
          <div class="row pb-12 text-center">
            <div class="lg:col-7 mx-auto">
              <span
                class="mb-6 inline-block font-medium uppercase text-red-400"
                data-aos="fade-up-sm">
                {{ .subtitle | markdownify }}
              </span>
              <h2
                class="mb-6 font-semibold"
                data-aos="fade-up-sm"
                data-aos-delay="50">
                {{ .title | markdownify }}
              </h2>
              <p class="text-lg" data-aos="fade-up-sm" data-aos-delay="100">
                {{ .description | markdownify }}
              </p>
            </div>
          </div>
          <div class="row gy-4 relative justify-center">
            {{ partial "opened-positions.html" . }}
          </div>

          <!-- Start Bg Shape -->
          <div
            data-aos="fade-left-sm"
            class="pointer-events-none absolute bottom-[-70px] right-6 -z-10 hidden select-none lg:block">
            {{ partial "image.html" (dict "Src" "images/shapes/about-s-4.svg" "Class" "inline-svg text-secondary" "Alt" "shape") }}
          </div>
          <!-- End Bg Shape -->
        </div>

        <!-- Start Bg Shape -->
        <div
          data-aos="fade-left-sm"
          class="pointer-events-none absolute left-[-7%] top-[30%] -z-10 hidden select-none lg:block">
          {{ partial "image.html" (dict "Src" "images/shapes/about-s-1.svg" "Class" "inline-svg text-tertiary" "Alt" "shape") }}
        </div>
        <!-- End Bg Shape -->
      </section>
      <!-- End Open Positions Section -->
    {{ end }}
  {{ end }}

  {{ partial "testimonial.html" . }}
{{ end }}
